<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/attendix/classes"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{ schedule!.classcode }} {{ totalPresentStudents$ | async }}/{{ totalStudents$ | async }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-label>Auto</ion-label>
        <ion-toggle [(ngModel)]="auto"></ion-toggle>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template [ngIf]="auto" [ngIfElse]="override">
    <ion-grid>
      <ion-row *ngIf="otp$ | async as otp">
        <ion-col size="12" sizeSm="9">
          <qrcode *ngIf="otp" [qrdata]="otp" width="600"
            errorCorrectionLevel="H"></qrcode>
        </ion-col>
        <ion-col size="10" offset="1" sizeSm="3" offsetSm="0">
          <div *ngFor="let c of otp | chars" class="otp">
            {{ c }}
          </div>
          <ion-item>
            <ion-label color="medium" position="floating">Lecture Update</ion-label>
            <ion-textarea [(ngModel)]="lectureUpdate"
              (ionChange)="save(lectureUpdate)" debounce="2000"></ion-textarea>
          </ion-item>
          <ion-list lines="none">
            <ion-item *ngFor="let student of lastMarked$ | async">
              {{ student.name }}
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
  <ng-template #override>
    <!-- just subscribe for the side effects -->
    <ng-template [ngIf]="lastMarked$ | async"></ng-template>
    <ion-grid>
      <ion-row>
        <ion-col size="9" sizeMd="7">
          <ion-searchbar [(ngModel)]="term"></ion-searchbar>
        </ion-col>
        <ion-col size="3" sizeMd="2">
          <ion-select [(ngModel)]="type" placeholder="Attendance" interface="popover">
            <ion-select-option value="">Any</ion-select-option>
            <ion-select-option value="Y">Present</ion-select-option>
            <ion-select-option value="L">Late</ion-select-option>
            <ion-select-option value="N">Absent</ion-select-option>
            <ion-select-option value="R">Absent with reason</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="12" sizeMd="3">
          <ion-item lines="none">
            <ion-textarea [(ngModel)]="lectureUpdate" (ionChange)="save(lectureUpdate)" debounce="5000"
              placeholder="Lecture Update" rows="1" class="ion-no-padding"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="ion-padding-bottom">
      <ion-virtual-scroll [items]="students$ | async | attendance:type | search:term"
        [trackBy]="trackById" approxItemHeight="48px">
        <ion-card *virtualItem="let student">
          <ion-item [ngClass]="'state' + student.attendance" lines="none">
            <!-- XXX profile image API not ready
            <ion-img slot="start" src="error"
              (ionError)="$event.target.src = 'assets/img/profile.png'"></ion-img>
            -->
            <ion-label>{{ student.id }} {{ student.name }}</ion-label>
            <ng-container slot="end">
              <ion-item *ngIf="student.attendance === 'N' || student.attendance === 'R'">
                <ion-input [value]="student.absentReason" placeholder="Absent with reason"
                  (change)="mark(student.id, 'R', $event)"></ion-input>
              </ion-item>
              <ion-button [disabled]="student.attendance === 'Y'" class="stateY" (click)="mark(student.id, 'Y')">Present</ion-button>
              <ion-button [disabled]="student.attendance === 'L'" class="stateL" (click)="mark(student.id, 'L')">Late</ion-button>
              <ion-button [disabled]="student.attendance === 'N'" class="stateN" (click)="mark(student.id, 'N')">Absent</ion-button>
            </ng-container>
          </ion-item>
        </ion-card>
      </ion-virtual-scroll>
    </div>
  </ng-template>
</ion-content>
