.otp-wrapper {
  display: flex;
  justify-content: center;
}

.otp {
  font-size: 8vw;
  margin: 20px 4px;
  max-width: 12vw;
  padding: 12px;
  padding-bottom: 4px;
  color: #000000;
  background-color: #eeeeee;
  caret-color: transparent;
  border: none;
  border-bottom: 8px solid #bcbcbc;
  font-family: 'Hack', 'Iconsolata', monospace;
  text-align: center;
}

.otp:focus {
  border-bottom-color: #8d8d8d;
  background-color: #bdbdbd;
}

ion-card {
  display: flex;
  justify-content: center;
  padding: 10px;
}

ion-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: background-color .3s;
}

.show-qr-scanner {
  display: none;
}
