<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Settings</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="masonry-list">
    <div class="masonry-item">
      <ion-card class="ion-no-margin ion-margin-bottom">
        <ion-card-header>
          <ion-card-title class="card-title float-left">
            <h3 class="responsive-h1">
              Customization
            </h3>
            <h5 class="small-margin-top small-text" style="font-weight: 300;">Customize the look and
              behaviour of the app
              the way you want
            </h5>
          </ion-card-title>
          <div class="clearfix"></div>
        </ion-card-header>
        <ion-card-content class="ion-no-padding ion-padding-bottom ion-padding-start ion-padding-end">
          <ion-list class="ion-no-padding">
            <ion-item-group>
              <ion-item-divider class="ion-no-padding">
                <ion-label>
                  Theming
                </ion-label>
              </ion-item-divider>
              <ion-item class="ion-no-padding">
                <ion-label>Dark Theme</ion-label>
                <ion-toggle [(ngModel)]="darkThemeEnabled" [disabled]="pureDarkThemeEnabled"
                  (ngModelChange)="toggleDarkTheme()">
                </ion-toggle>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label>Pure Dark</ion-label>
                <ion-toggle [(ngModel)]="pureDarkThemeEnabled" [disabled]="!darkThemeEnabled"
                  (ngModelChange)="togglePureDarkTheme()"></ion-toggle>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label>Accent Color</ion-label>
                <ion-select [(ngModel)]="activeAccentColor" [disabled]="pureDarkThemeEnabled"
                  (ngModelChange)="toggleAccentColor()">
                  <ion-select-option *ngFor="let accentColor of accentColors" [value]="accentColor.value">
                    {{accentColor.title}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-item-group>
            <ion-item-group>
              <ion-item-divider class="ion-no-padding ion-padding-top">
                <ion-label>
                  Others
                </ion-label>
              </ion-item-divider>
              <ion-item class="ion-no-padding">
                <ion-label>Menu UI</ion-label>
                <ion-select [(ngModel)]="menuUI" (ngModelChange)="toggleMenuUI()">
                  <ion-select-option [value]="'cards'">
                    Cards
                  </ion-select-option>
                  <ion-select-option [value]="'list'">
                    List
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="ion-no-padding" button (click)="clearCache()">
                <ion-label color="danger">Clear cache</ion-label>
              </ion-item>
            </ion-item-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="masonry-item">
      <ion-card class="ion-no-margin ion-margin-bottom">
        <ion-card-header>
          <ion-card-title class="card-title float-left">
            <h3 class="responsive-h1">
              Bus Shuttle Services
            </h3>
            <h5 class="small-margin-top small-text" style="font-weight: 300;">
              Configure your bus shuttle services' dashboard card
            </h5>
          </ion-card-title>
          <div class="clearfix"></div>
        </ion-card-header>
        <ion-card-content class="ion-no-padding ion-padding-bottom ion-padding-start ion-padding-end">
          <ion-list class="ion-no-padding">
            <ion-item-group *ngIf="locations$ | async as locations">
              <ion-item class="ion-no-padding">
                <ion-label>First Location</ion-label>
                <ion-select [(ngModel)]="busShuttleServiceSettings.firstLocation"
                  (ngModelChange)="setBusShuttleServicesSettings()">
                  <ion-select-option [value]="location.location_name" *ngFor="let location of locations">
                    {{location.location_nice_name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label>Second Location</ion-label>
                <ion-select [(ngModel)]="busShuttleServiceSettings.secondLocation"
                  (ngModelChange)="setBusShuttleServicesSettings()">
                  <ion-select-option [value]="location.location_name" *ngFor="let location of locations">
                    {{location.location_nice_name}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-item-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="masonry-item" *ngIf="!userRole">
      <ion-card class="ion-no-margin ion-margin-bottom">
        <ion-card-header>
          <ion-card-title class="card-title float-left">
            <h3 class="responsive-h1">
              iConsult Default Location
            </h3>
            <h5 class="small-margin-top small-text" style="font-weight: 300;">
              Set a default location for the consultation hours that you will open in the future
            </h5>
          </ion-card-title>
          <div class="clearfix"></div>
        </ion-card-header>
        <ion-card-content class="ion-no-padding ion-padding-bottom ion-padding-start ion-padding-end">
          <ion-list class="ion-no-padding">
            <ion-item-group>
              <ion-item class="ion-no-padding">
                <ion-label>Campus</ion-label>
                <ion-select [(ngModel)]="defaultCampus" (ngModelChange)="updateDefaultLocation('campus')">
                  <ion-select-option *ngFor="let location of locationOptions" [value]="location">
                    {{ location }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item class="ion-no-padding">
                <ion-label>Venue</ion-label>
                <ion-select interface="alert" *ngIf="venues$ | async as venues" [disabled]="!defaultCampus"
                  [(ngModel)]="defaultVenue" (ngModelChange)="updateDefaultLocation('venue')">
                  <ion-select-option *ngFor="let venue of venues" [value]="venue.id">
                    {{ venue.room_code }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-item-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="masonry-item" *ngIf="userRole">
      <ion-card class="ion-no-margin ion-margin-bottom">
        <ion-card-header>
          <ion-card-title class="card-title float-left">
            <h3 class="responsive-h1">
              Student Timetable
            </h3>
            <h5 class="small-margin-top small-text" style="font-weight: 300;">
              Configure student timetable filters
            </h5>
          </ion-card-title>
          <div class="clearfix"></div>
        </ion-card-header>
        <ion-card-content class="ion-no-padding ion-padding-bottom ion-padding-start ion-padding-end">
          <ion-list class="ion-no-padding">
            <ion-item-group *ngIf="timetable$ | async as timetable">
              <ion-item-divider class="ion-no-padding ion-margin-bottom">
                <ion-label>Hidden Modules</ion-label>
              </ion-item-divider>
              <ion-chip *ngFor="let module of timetable?.blacklists" (click)="timetableModuleBlacklistsRemove(module)">
                <ion-icon name="remove" color="danger"></ion-icon>
                <ion-label>{{ module }}</ion-label>
              </ion-chip>
              <ion-chip (click)="timetableModuleBlacklistsAdd()">
                <ion-icon name="add" color="success"></ion-icon>
                <ion-label>Add</ion-label>
              </ion-chip>
            </ion-item-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    <div class="masonry-item">
      <ion-card class="ion-no-margin ion-margin-bottom">
        <ion-card-header>
          <ion-card-title class="card-title float-left">
            <h3 class="responsive-h1">
              Security & Privacy
            </h3>
            <h5 class="small-margin-top small-text" style="font-weight: 300;">
              Secure your account to prevent others from accessing your data
            </h5>
          </ion-card-title>
          <div class="clearfix"></div>
        </ion-card-header>
        <ion-card-content class="ion-no-padding ion-padding-bottom ion-padding-start ion-padding-end">
          <ion-list class="ion-no-padding">
            <ion-item button class="ion-no-padding" (click)="resetByod()">
              <ion-label>BYOD Reset</ion-label>
            </ion-item>
            <ion-item button class="ion-no-padding" (click)="navigateToPage('change-password')">
              <ion-label>Change APKey Password</ion-label>
            </ion-item>
            <ion-item button class="ion-no-padding" (click)="navigateToPage('change-webspace-password')">
              <ion-label>Change Webspace Password</ion-label>
            </ion-item>
            <ion-item button class="ion-no-padding" (click)="navigateToPage('reset-webspace-password')">
              <ion-label>Reset Webspace ID Password</ion-label>
            </ion-item>
            <ion-item class="ion-no-padding" button (click)="navigateToPage('set-security-questions')">
              <ion-label>Set Security Questions</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>