<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" [hidden]='comingFromTabs'></ion-back-button>
    </ion-buttons>
    <ion-title>Lecturer Timetable</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="showAttendixFeature" fill="outline" size="small" [routerLink]="['/attendix/classes']"
        class="colored-text colored-border">
        Mark Attendance
      </ion-button>
      <ion-button fill="icon" size="small" (click)="show2ndToolbar = !show2ndToolbar" class="colored-text">
        <ng-template [ngIf]="show2ndToolbar" [ngIfElse]="collapse">
          <ion-icon md="ios-arrow-up" name="arrow-up"></ion-icon>
        </ng-template>
        <ng-template #collapse>
          <ion-icon md="ios-arrow-down" name="arrow-down"></ion-icon>
        </ng-template>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="show2ndToolbar">
    <ion-buttons slot="start">
      <ion-button size="small" fill="outline" (click)="chooseWeek()" [disabled]="availableWeek!.length === 0"
        class="colored-text colored-border">
        {{ ((viewWeek ? selectedWeek : selectedDate) | date) || 'Weeks' }}
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="rotateView()" size="small" fill="outline" [class.colored-text]="viewWeek"
        [class.colored-border]="viewWeek">
        <ion-label>Weekly</ion-label>
        <ion-toggle [checked]="viewWeek" style="padding-left: 0; padding-right: 0;"></ion-toggle>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ng-template #intakes let-timetable>
  <ng-container *ngFor="let intake of timetable.intakes; last as last">
    <a [routerLink]="['/student-timetable', intake]" class="md-text-center">{{ intake }}</a>
    <ng-container *ngIf="!last">, </ng-container>
  </ng-container>
</ng-template>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event.target)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>

  <!-- do not add filter pipe here as it affects loading -->
  <ng-template let-timetables [ngIf]="timetable$ | async" [ngIfElse]="loading">
    <ng-template let-timetables
      [ngIf]="!viewWeek ? (timetables | theday:selectedDate) : (timetables | theweek:selectedWeek)"
      [ngIfElse]="loading">
      <ng-template [ngIf]="timetables!.length" [ngIfElse]="empty">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card class="ion-no-margin">
                <ion-card-header style="margin-bottom: 0; padding: 0 !important; padding-left:16px !important;">
                  <ion-card-title>
                    <ion-item lines="none" class="ion-no-padding ion-no-margin">
                      <ion-label>
                        <h4 class="text-bold colored-text">
                          {{ lecturerName }} Timetable
                        </h4>
                        <h5 class="small-margin-top">
                          Week: <span class="text-bold">{{ selectedWeek | date :'dd MMM yyy' }}</span>
                        </h5>
                      </ion-label>
                      <ion-button fill="outline" slot="end" class="print-button colored-border" (click)="sendToPrint()">
                        <ion-icon slot="icon-only" name="print" class="colored-text"></ion-icon>
                      </ion-button>
                    </ion-item>
                  </ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-no-padding padding-bottom">
                  <ng-template [ngIf]="!viewWeek && availableWeek!.length > 0">
                    <ion-segment class="week-segment" [ngModel]="selectedDate | date:'E' | uppercase"
                      (ngModelChange)="selectedDate = availableDate[availableDays.indexOf($event)]" scrollable>
                      <ion-segment-button *ngFor="let day of availableDays" [value]="day">
                        {{ day }}
                      </ion-segment-button>
                    </ion-segment>
                  </ng-template>
                  <ng-template [ngIf]="selectedDate">
                    <ion-item class="table-top" style.borderLeft="0.7rem solid transparent">
                      <ion-grid class="ion-no-margin ion-no-padding">
                        <ng-container *ngIf="viewWeek; else viewDaily">
                          <ion-row>
                            <ion-col class="hide-on-print-table-flex-on-card ion-no-padding" size="12" size-sm="2">
                              <h2 class="text-bold">Module</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="1" class="ion-no-padding">
                              <h2 class="text-bold">Date</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="2" class="ion-no-padding">
                              <h2 class="text-bold md-text-center">Time</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="2" class="flex-on-print-table-hide-on-card ion-no-padding">
                              <h2 class="text-bold md-text-center ">Module</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="2" class="ion-no-padding">
                              <h2 class="text-bold md-text-center">Location</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="3" class="ion-no-padding">
                              <h2 class="text-bold md-text-center">Lecturer</h2>
                            </ion-col>
                          </ion-row>
                        </ng-container>
                        <ng-template #viewDaily>
                          <ion-row>
                            <ion-col class="ion-no-padding" size="12" size-sm="3">
                              <h2 class="text-bold">Module</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="2" class="ion-no-padding">
                              <h2 class="time text-bold">Time</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="3" class="ion-no-padding">
                              <h2 class="text-bold">Location</h2>
                            </ion-col>
                            <ion-col size="12" size-sm="4" class="ion-no-padding">
                              <h2 class="text-bold">Intakes</h2>
                            </ion-col>
                          </ion-row>
                        </ng-template>
                      </ion-grid>
                    </ion-item>
                  </ng-template>
                  <ion-item class="table-item" *ngFor="let timetable of timetables; trackBy: trackByIndex"
                    [class.freeTime]='timetable.MODID === "FREE"'>
                    <ion-grid>
                      <ng-container *ngIf="viewWeek; else viewDaily">
                        <ion-row class="table-data">
                          <ion-col size="12" size-sm="2" class="hide-on-print-table-flex-on-card text-bold ion-no-padding md-text-center">
                            {{ timetable.module }}
                          </ion-col>
                          <ion-col size="12" size-sm="1" class="ion-no-padding md-text-center">
                            <span class="marker">
                              <ion-icon name="calendar"></ion-icon>
                            </span>
                            {{ timetable.time | date:'EEE, d MMM' }}
                          </ion-col>
                          <ion-col size="12" size-sm="2" class="ion-no-padding md-text-center">
                            <span class="marker">
                              <ion-icon name="time"></ion-icon>
                            </span>
                            {{ timetable.time | date:'shortTime' }} - {{ timetable | endtime | date:'shortTime' }}
                          </ion-col>
                          <ion-col size="12" size-sm="2" class="flex-on-print-table-hide-on-card ion-no-padding md-text-center">
                            {{ timetable.module }}
                          </ion-col>
                          <ion-col size="12" size-sm="2" class="ion-no-padding md-text-center">
                            <span class="marker">
                              <ion-icon name="locate"></ion-icon>
                            </span>
                            {{ timetable.room }} | {{ timetable.location }}
                          </ion-col>
                          <ion-col size="12" size-sm="3" class="ion-no-padding">
                            <ng-container *ngTemplateOutlet="intakes; context: {$implicit: timetable}"></ng-container>
                          </ion-col>
                        </ion-row>
                      </ng-container>

                      <ng-template #viewDaily>
                        <ion-row>
                          <ion-col size="12" size-sm="3" class="text-bold ion-no-padding">
                            {{ timetable.module }}
                          </ion-col>
                          <ion-col size="12" size-sm="2" class="ion-no-padding">
                            <span class="marker">
                              <ion-icon name="time"></ion-icon>
                            </span>
                            {{ timetable.time | date:'shortTime' }} - {{ timetable | endtime | date:'shortTime' }}
                          </ion-col>
                          <ion-col size="12" size-sm="3" class="ion-no-padding">
                            <span class="marker">
                              <ion-icon name="locate"></ion-icon>
                            </span>
                            {{ timetable.room }} | {{ timetable.location }}
                          </ion-col>
                          <ion-col size="12" size-sm="4" class="ion-no-padding">
                            <ng-container *ngTemplateOutlet="intakes; context: {$implicit: timetable}"></ng-container>
                          </ion-col>
                        </ion-row>
                      </ng-template>
                    </ion-grid>
                  </ion-item>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
    </ng-template>
    <ng-template #empty>
      <ion-card>
        <ion-card-content>
          <app-message-with-svg imageUrl="assets/img/happy.svg"
            messageTitle="Hooray! No classes for {{intake}} on the week that starts on {{selectedWeek | date:'EEEE, dd MM yyy'}}"
            wrapperSize="4" wrapperOffset="4" wrapperMarginTop="20px">
          </app-message-with-svg>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ng-template>

  <ng-template #loading>
    <ion-card class="ion-no-padding">
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text animated style="width: 100%; line-height: 100px"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-padding">
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text animated style="width: 100%; line-height: 100px"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-padding">
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text animated style="width: 100%; line-height: 100px"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
    <ion-card class="ion-no-padding">
      <ion-card-content class="ion-no-padding">
        <ion-skeleton-text animated style="width: 100%; line-height: 100px"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </ng-template>

</ion-content>
