// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-font-family: "Source Sans Pro", sans-serif;

  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

// THEMES' COLORS
:root .pink-accent-color {
  --primary-color: #d86586;
  --sub-primary-color: #9d3b76;
}

:root .red-accent-color {
  --primary-color: #e54d42;
  --sub-primary-color: #f23427;
}

:root .green-accent-color {
  --primary-color: #08a14f;
  --sub-primary-color: #0dd66b;
}

:root .blue-accent-color {
  --primary-color: #3a99d9;
  --sub-primary-color: #148ad9;
}

:root .yellow-accent-color {
  --primary-color: #dfa847;
  --sub-primary-color: #de9514;
}

// IONIC VARIABLES IN LIGHT THEME
:root .light-theme {
  --main-bg-color: #fafafa;
  --secondary-bg-color: #f5f5f5;
  --tertiary-bg-color: #e0e0e0;

  --main-txt-color: #454343;
  --secondary-txt-color: #5c5959;
  --tertiary-txt-color: #8a8888;

  --danger-color: #e54d42;
  --danger-hover-color: #b02d23;
  --success-color: #49b571;
  --success-hover-color: #2d8c50;
  --passed-event-color: #a1a1a1;

  --ion-background-color: var(--main-bg-color);
}

// IONIC VARIABLES IN DARK THEME
:root .dark-theme {
  --main-bg-color: #212121;
  --secondary-bg-color: #303030;
  --tertiary-bg-color: #424242;

  --main-txt-color: #e8e6e6;
  --secondary-txt-color: #9e9e9e;
  --tertiary-txt-color: #a19d9d;

  --danger-color: #e54d42;
  --danger-hover-color: #b02d23;
  --success-color: #49b571;
  --success-hover-color: #2d8c50;
  --passed-event-color: #7b7b7b;

  --ion-background-color: var(--main-bg-color);
}

// IONIC VARIABLES IN DARK THEME
:root .dark-theme.pure {
  --primary-color: #ffffff;
  --main-bg-color: #101010;
  --secondary-bg-color: #1d1d1d;
  --tertiary-bg-color: #2a2a2a;

  --main-txt-color: #d9d9d9;
  --secondary-txt-color: #cccccc;
  --tertiary-txt-color: #bfbfbf;

  --danger-color: #e54d42;
  --danger-hover-color: #b02d23;
  --success-color: #49b571;
  --success-hover-color: #2d8c50;
  --passed-event-color: #7b7b7b;

  --ion-background-color: var(--main-bg-color);
}
