// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import './theme/global-styling';
@import './theme/responsive-design';

@import './theme/themes';
@import './theme/fonts';




// // Fix padding for phones with notch screen
// body{
//   padding-top: constant(safe-area-inset-top);//for iOS 11.2
//   padding-top: env(safe-area-inset-top);//for iOS 11.1
//   --safe-area-inset-top: env(safe-area-inset-top);
//   --safe-area-inset-bottom: env(safe-area-inset-bottom);
// }

// To be removed after solving the ShadowDOM issue Outside the print query: always hide the element with the class show-on-print
.show-on-print {
  // Hide elements that need to be shown on print only
  display: none;
}

// Screen size hidden
.invisible {
  visibility: hidden !important;
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

// Default print settings (Fix print issue in ionic) // To be moved to a seperate file
@media print {
  ion-header,
  ion-tab-bar {
    // hide header and tabs on print
    display: none;
  }

  html,
  body,
  app-root,
  ion-app,
  ion-router-outlet,
  app-tabs,
  ion-tabs,
  .tabs-inner,
  app-timetable,
  ion-content {
    position: relative !important;
    height: auto !important;
    min-height: 0 !important;
    contain: none !important;
    max-height: none !important;
    display: block !important;
  }

  .hide-on-print {
    display: none;
  }
  .show-on-print {
    display: block;
  }

  /**
   * The (main.scroll-y.inner-scroll) element needs to take a relative position style
   *
   * - However, the ShadowDom elements cannot be modified.
   * - The only way to modify them is by using css 4 variables.
   * - Ionic did not add variable for position.
   * - The issue will be resolved when Ionic adds a variable for the position to be used
   * - Currently, we will create a sperate div outside the ion-content to be
   *   displayed for print, untill the issue is fixed.
   */
}
